/* MIME type issue with opentype fonts in Chrome. Nice-to-have. */
@font-face {
    font-family: MyriadPro-Light;
    src: local(MyriadPro-Light),
         url('../fonts/MyriadPro-Light.otf') format('opentype');
}

@font-face {
    font-family: MyriadPro-Regular;
    src: local(MyriadPro-Regular),
         url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

.kitanda_main_header {
  background: url(../images/background_lighter_bourse_radial_gradient.png);
  background-position: 0px 65px;
  background-size: 100% 410px;
  background-repeat: no-repeat;
}

.splash {
    margin: auto;
    width: 1000px;
    height: 500px;
}

.splashimage {
    float: left;
    width: 500px;
    height: 300px;
/*    box-shadow: 0px 5px 20px #000000; */
}

.imageshadow {
    float: left;
    width: 500px;
    height: 300px;
    box-shadow: 0px 5px 20px #000000;
}


.maintitle {
    font-size: 58px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.mainitem {
    float:left;
    width:450px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.mainitemscontainer {
    float: right;
    width: 470px;
    height: 300px;
    padding-top: 20px;
}

.mainitem:hover {
    text-shadow: 1px 1px #111111;
    padding-left: 20px;
}

.mainitem:hover h2 { color: #ffffff; }
.mainitem:hover h3 { color: #ffffff; }

.inverse_header {
  color: #ffffff;
  text-shadow: 2px 3px black;
}

.inverse_h2 {
    font-size: 36px;
    padding-bottom: 1px;
    color: #ffddee;
}

.burgundy_light {
    color: #600050;
    font-smooth: always;
}

.inverse_h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 20px;
    color: #ffddee;
}

.myriad-light {
  font-family: MyriadPro-Light;
  font-weight: lighter;
}

.myriad-regular {
  font-family: MyriadPro-Regular;
}

.myriad-bold {
  font-family: MyriadPro-Bold;
}

.inverse_body {
  color: #cccccc;
}
