/* Refactored from bootstrap.css */

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
  font-size: 16px;
}
/*
h1 {
  font-size: 48px;
  line-height: 23px;
}

h2 {
  font-size: 38px;
  line-height: 24px;
}

h3 {
  font-size: 28px;
  line-height: 20px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
}

h5 {
  font-size: 8px;
  line-height: 16px;
}

h6 {
  margin: 1px 0;
}
*/

.btn-warning {
  color: #85592E
  text-shadow: 1px 1px 0 rgba(255, 249, 90, 0.25);
  background-image: -webkit-linear-gradient(top, #ffd96a, #ffa50b);
}

.navbar-inner {
  text-align:center;
  min-height: 65px;
}

.navbar .brand {
  padding: 10px 20px 0px 100px;
}

.navbar .nav > li {
  float: none;
  font-size: 16px;
  display: inline-block;
  *display:inline;
  vertical-align: -23px;
}

.navbar-inverse .navbar-inner {
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000', endColorstr='#ff111111', GradientType=0);
}

.hero-unit {
  margin-bottom: 60px;
}

.hero-unit h1 {
  font-size: 80px;
}

.pull-right {
  float: none;
  display: inline-block;
  *display:inline;
  vertical-align: -18px;
}
/* End refactored from bootstrap.css */


/* MIME type issue with opentype fonts in Chrome. Nice-to-have. */
@font-face {
    font-family: MyriadPro-Light;
    src: local(MyriadPro-Light),
         url('../fonts/MyriadPro-Light.otf') format('opentype');
}

@font-face {
    font-family: MyriadPro-Regular;
    src: local(MyriadPro-Regular),
         url('../fonts/MyriadPro-Regular.otf') format('opentype');
}

.kitanda_main_header {
  background: url(../images/background_lighter_bourse_radial_gradient.png);
  background-position: 0px 65px;
  background-size: 100% 410px;
  background-repeat: no-repeat;
}

.splash {
    margin: auto;
    width: 1000px;
    height: 500px;
}

.splashimage {
    float: left;
    width: 500px;
    height: 300px;
/*    box-shadow: 0px 5px 20px #000000; */
}

.imageshadow {
    float: left;
    width: 500px;
    height: 300px;
    box-shadow: 0px 5px 20px #000000;
}


.maintitle {
    font-size: 58px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.mainitem {
    float:left;
    width:450px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.mainitemscontainer {
    float: right;
    width: 470px;
    height: 300px;
    padding-top: 20px;
}

.mainitem:hover {
    text-shadow: 1px 1px #111111;
    padding-left: 20px;
}

.mainitem:hover h2 { color: #ffffff; }
.mainitem:hover h3 { color: #ffffff; }

.inverse_header {
  color: #ffffff;
  text-shadow: 2px 3px black;
}

.inverse_h2 {
    font-size: 36px;
    padding-bottom: 1px;
    color: #ffddee;
}

.burgundy_light {
    color: #600050;
    font-smooth: always;
}

.inverse_h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 12px;
    padding-bottom: 20px;
    color: #ffddee;
}

.myriad-light {
  font-family: MyriadPro-Light;
  font-weight: lighter;
}

.myriad-regular {
  font-family: MyriadPro-Regular;
}

.myriad-bold {
  font-family: MyriadPro-Bold;
}

.inverse_body {
  color: #cccccc;
}

img {
  border-style: none;
  border-width: 0px;
}

.square-unit {
  width: 130px;
  height: 130px;
  padding:10px;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.square-unit-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height:130px;
}


.green-unit {
  background-color: #008C00;
  color: #ffffff
}

.yellow-unit {
  background-color: #ffc521;
  color: #ffffff
}

.red-unit {
  background-color: #cc0000;
  color: #ffffff
}

.gray-description {
  padding: 35px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.products {
  padding: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.products_dogen {
  background-color: #eeeeee;
}

.products_dirien {
  background-color: #eeeeee;
}

.cell_190 {
  width: 190px;
}

.paragraph_justified {
  text-align: justify;
}

/* This overrides Bootstrap's accordion group, so it should be fixed
   in the future if someone needs to use accordions */
.accordion-group {
  margin-bottom: 2px;
  border: 0px transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
