.splash {
    margin: auto;
    width: 1000px;
    height: 450px;
}

.splashimage {
    float: left;
    width: 500px;
    height: 300px;
}

.maintitle {
    font-size: 58px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.mainitem {
    float:left;
    width:450px;
    padding-left: 10px;
    padding-bottom: 0px;
}

.mainitemscontainer {
    float: right;
    width: 470px;
    height: 300px;
}

.mainitem:hover {
    text-shadow: 1px 1px #111111;
    padding-left: 20px;
}

.mainitem:hover h2 { color: #ffffff; }
.mainitem:hover h3 { color: #ffffff; }

.inverse_header {
  color: #ffffff;
  text-shadow: 2px 3px black;
}

.inverse_h2 {
    font-size: 36px;
    padding-bottom: 1px;
    color: #cccccc;
}

.inverse_h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 20px;
    color: #cccccc;
}

.Myriad {
  font-family: MyriadPro-Light;
  font-weight: lighter;
}

.inverse_body {
  color: #cccccc;
}
