.splash {
    float: center;
    width: 1000px;
    height: 500px;
}

.splashimage {
    float: left;
    width: 500px;
    height: 300px;
}

.maintitle {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mainitem {
    float:left;
    width:430px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.mainitemscontainer {
    float: right;
    width: 450px;
    height: 300px;
}

.mainitem:hover {
    text-shadow: 1px 1px #111111;
    padding-left: 20px;
}

.mainitem:hover h2 { color: #ffffff; }
.mainitem:hover h3 { color: #ffffff; }
